.dark_choose {
    background-color: rgb(81, 105, 105);
    padding: 1em 1em 1em 1em;
    margin: auto;
}

.light_choose {
    background-color: rgb(205, 233, 233);
    padding: 1em 1em 1em 1em;
    margin: auto;
}

.radio_choose {
    margin: 10px 10px 10px 10px;
}

.radio_choose input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.radio_choose span {
    position: relative;
    /* display: flex; */
    align-items: center;
}

.radio_choose span::before {
    content: "";
    /* контур кружечків для вибору */
    /* width: 10px;
    height: 10px;
    border: 1px solid rgb(191, 233, 233);
    display: inline-block;
    margin-right: 10px;
    border-radius: 100%; */
}

.radio_choose span::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 35%;
    transform: translate(150px, -180px);
    width: 30px;
    height: 30px;
    background-color:rgb(255, 202, 103);
    border-radius: 100%;
    opacity: 0;
}

.radio_choose input[type="radio"]:checked + span::after {
    opacity: 1;
}

/* .circle {
    margin: 10px 10px 10px 10px; 
    background-color: rgb(255, 202, 103);
    border-radius: 50%; 
    position: relative;
     width: 200px;
    height: 200px; 
} */